<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firmware</title>
    <!-- LOAD CSS FILES -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="firmware.css" rel="stylesheet">


</head>
<body class="firmware">

<!-- PRELOADER -->
<div class="preloader">
    <div class="loader">
        <span class="glyphicon glyphicon-refresh spin"></span>
    </div>
</div>
<!-- END PRELOADER -->

<!-- WRAPPER -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper">

                <!-- TITLE -->
                <div class="firmware-title">
                </div>
                <!-- END TITLE -->

                <!-- ALERT MESSAGE -->
                <div class="firmware-alert"></div>
                <!-- END ALERT MESSAGE -->

                <!-- CURRENT STATE -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="firmware-current-state"></div>
                    </div>
                </div>
                <!-- END CURRENT STATE -->

                <div class="row">
                    <!-- UPLOAD HEX FILE -->
                    <div class="col-sm-6">
                        <div class="firmware-upload-hex-file"></div>
                    </div>
                    <!-- END UPLOAD HEX  -->
                    <!-- UPLOAD FIRMWARE TO PROCESSOR -->
                    <div class="col-sm-6">
                        <div class="firmware-upload-to-processor"></div>
                    </div>
                    <!-- END UPLOAD FIRMWARE TO PROCESSOR -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TEMPLATES FOR UNDERSCORE RENDERING -->

<!-- TITLE -->
<script type="text/template" class="language-template" data-type="firmware-title">
    <h1><%= dictionary.firmware %></h1>
</script>

<!-- CURRENT STATE -->
<script type="text/template" class="language-template" data-type="firmware-current-state">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><%= dictionary.currentState %></h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>
                        <label><%= dictionary.version %>:</label>
                    </td>
                    <td>
                        <%= currentState.version %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><%= dictionary.description %>:</label>
                    </td>
                    <td>
                        <%= currentState.description %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><%= dictionary.guid %>:</label>
                    </td>
                    <td>
                        <%= currentState.guid %>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<!-- HEX FILE UPLOAD -->
<script type="text/template" class="language-template" data-type="firmware-upload-hex-file">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><%= dictionary.uploadHexFile %></h3>
        </div>
        <div class="panel-body">
            <div class="firmware-upload">
                <form method="post" action="" enctype="multipart/form-data" id="form-hex-upload">
                    <input type="file" required="true" name="fileHex" accept=".hex" id="file-hex">
                    <button type="submit" class="btn btn-primary btn-hex-upload">
                        <span class='glyphicon glyphicon-download-alt'></span> <%= dictionary.upload %>
                    </button>
                </form>
            </div>
            <div class="firmware-upload-hex-status"></div>
        </div>
    </div>
</script>

<!-- STATUS OF THE UPLOADED HEX FILE -->
<script type="text/template" class="language-template" data-type="firmware-upload-hex-status">

    <h4><%= dictionary.uploadedStatus %></h4>

    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                <label><%= dictionary.version %>:</label>
            </td>
            <td>
                <%= uploadedState.version %>
            </td>
        </tr>
        <tr>
            <td>
                <label><%= dictionary.description %>:</label>
            </td>
            <td>
                <%= uploadedState.description %>
            </td>
        </tr>
        <tr>
            <td>
                <label><%= dictionary.guid %>:</label>
            </td>
            <td>
                <%= uploadedState.guid %>
            </td>
        </tr>
        </tbody>
    </table>
</script>

<!-- UPLOAD FIRMWARE TO THE PROCESSOR -->
<script type="text/template" class="language-template" data-type="firmware-upload-to-processor">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><%= dictionary.uploadFirmware %></h3>
        </div>
        <div class="panel-body">
            <div class="firmware-upload">
                <form method="post" action="" enctype="multipart/form-data" id="form-firmware-upload">
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-flash"></span> <%= dictionary.burn %>
                    </button>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/template" data-type="firmware-alert">
    <div class="alert alert-<%= alert.type %> fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= alert.message %>
    </div>
</script>

<!-- LOAD JS FILE -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="Buffer.js"></script>
<script type="text/javascript" src="IntelHex.js"></script>
<script type="text/javascript" src="App.js"></script>
<script type="text/javascript" src="Api.js"></script>
<script type="text/javascript" src="Firmware.js"></script>

</body>
</html>