.firmware h1 {
    text-align: center;
}
.firmware .panel-heading h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.btn-hex-upload {
    margin-top: 15px;
}
.preloader {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: none;
}
body.loading .preloader {
    display: flex;
}
.preloader .loader {
    text-align: center;
    font-size: 2em;
    color: #FFF;
}
.spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}